{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json", "./tsconfig.node.json"],
        "tsconfigRootDir": "./"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "import",
        "@emotion"
    ],
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@tanstack/eslint-plugin-query/recommended"
    ],
    "rules": {
        "@emotion/jsx-import": "error",
        "@emotion/pkg-renaming": "error",
        "linebreak-style": 0,
        "import/prefer-default-export": 0,
        "prettier/prettier": 0,
        "no-use-before-define": 0,
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "no-shadow": 0,
        "react/require-default-props": "off",
        "no-param-reassign": 0,
        "react/prop-types": 0,
        "react/jsx-props-no-spreading": 0,
        "no-restricted-syntax": 0,
        "react/no-unknown-property": [
            "error",
            {
                "ignore": [
                    "css"
                ]
            }
        ],
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "react/jsx-filename-extension": [
            2,
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "no-restricted-imports": [
            "error",
            {
                "patterns": [
                    "../*"
                ],
                "paths": [
                    {
                        "name": "react",
                        "importNames": [
                            "default"
                        ],
                        "message": "import React from 'react' makes bundle size larger."
                    }
                ]
            }
        ],
        "@typescript-eslint/consistent-type-imports": [
            "error",
            {
                "prefer": "type-imports",
                "disallowTypeAnnotations": true
            }
        ],
        "import/order": [
            "error",
            {
                "groups": [
                    "type",
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "unknown"
                ],
                "pathGroups": [
                    {
                        "pattern": "react*",
                        "group": "builtin",
                        "position": "before"
                    },
                    {
                        "pattern": "@/**",
                        "group": "internal",
                        "position": "after"
                    }
                ],
                "newlines-between": "never"
            }
        ],
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
    }
}
